#**Python Lambda Functions**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = lambda a: a + 10
print(x(10))

20

In [ ]:
x = lambda a, b: a*b+10
print(x(2,8))

26

In [ ]:
x = lambda a,b,c: a*b*c
print(x(3,6,9))

162

In [ ]:
Max = lambda a, b : a if(a > b) else b
print(Max(12,-12))

12

In [ ]:
Max = lambda a, b : a if(a > b) else b
print(Max(12,211))

211

In [ ]:
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

print(result(12, 11))
print(result(12, 12))
print(result(12, 13))

12 is greater than 11
12 is equal to 12
12 is smaller than 13

In [ ]:
# if (percentage >= 78):
#   print('pass with first class distinction')
# elif (percentage >= 60):
#   print('pass with first class')
# elif (percentage >= 40):
#   print('pass with second class')
# elif (percentage >= 33):
#   print('pass with third class')
# else:
#   print('better luck next time')


result = lambda percentage : f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                          f"{percentage} pass with first class" if percentage >= 60 else (\
                          f"{percentage} pass with second class" if percentage >= 40 else (\
                          f"{percentage} pass with third class" if percentage >= 33 else (\
                          f"{percentage} better luck next time"))))

result(55), result(79), result(69), result(59), result(49), result(39), result(29), result(19), result(9), result(89), result(99)

('55 pass with second class',
 '79 pass with first class distinction',
 '69 pass with first class',
 '59 pass with second class',
 '49 pass with second class',
 '39 pass with third class',
 '29 better luck next time',
 '19 better luck next time',
 '9 better luck next time',
 '89 pass with first class distinction',
 '99 pass with first class distinction')

In [ ]:
# if x < y:
#   print(x, 'is smaller than', y)
# elif x > y:
#   print(x, 'is greater than', y)
# else:
#   print(x, 'is equal to', y)


# Lambda Equivalent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

In [ ]:
def func_sum(a,b):
  return a + b

In [ ]:
def func_sum(a,b,c,d):
  return a + b + c + d

In [ ]:
def func_sum(a,b,c,d,a1,b1,c1,d1):
  return a + b + c + d + a1 + b1 + c1 + d1

In [ ]:
def func_sum(*args): # *args(Non-key arguments)--->can take any no. and kind of values
  return args

In [ ]:
def func_sum(*args):
  return args

In [ ]:
func_sum (1,5,8,9,5,33,66,7,99,100)

(1, 5, 8, 9, 5, 33, 66, 7, 99, 100)

In [ ]:
def func_sum(*reshma): #args is not a key word, it can take any argument w/o any key
  sum=0
  for a in reshma:
    sum += a
  print ("The total sum is ", sum)

In [ ]:
func_sum (1,2,3,4,5,6,7,8,9)

The total sum is  45

In [ ]:
def func_sum(a,b,c,*args):
  return a+b+c+(sum(args))

In [ ]:
func_sum(12,23,34,45,56,67,78,89,90) #12,23,34 goes to a,b,c respectively and other remaining goes to *args

494

In [ ]:
def func_sum(*args,a,b,c,d,e): #this'll give error as *args will not allow any variable after that...so a,b,c,d,e can't have any variables
  return a+b+c+d+e(sum(args))

In [ ]:
func_sum(12,23,34,45,56,67,78,89,90)

TypeError: ignored

In [ ]:
def func_sum(*args): # *args (Non-Keyword Arguments)
  return args

In [ ]:
func_sum(12,23,34,45,56,67,78,89,90,101)

(12, 23, 34, 45, 56, 67, 78, 89, 90, 101)

In [ ]:
func_sum([12,23,34],(45,56,67),78,89,90,101)

([12, 23, 34], (45, 56, 67), 78, 89, 90, 101)

In [ ]:
func_sum({12,23,34,45,56},67,78,89,90,101)

({12, 23, 34, 45, 56}, 67, 78, 89, 90, 101)

In [ ]:
func_sum({'a':12,'b':23,'c':34,'d':45,'e':56},67,78,89,90,101)

({'a': 12, 'b': 23, 'c': 34, 'd': 45, 'e': 56}, 67, 78, 89, 90, 101)

In [ ]:
def func_sum(**kwargs): #keyword Arguments (We pass the value in the form of key and value)
  return kwargs

In [ ]:
func_sum(fname='Reshma', mname='Rai', lname='Sarker')

{'fname': 'Reshma', 'mname': 'Rai', 'lname': 'Sarker'}

In [ ]:
# def func_sum(*rs):
#   return rs

def func_sum(**rs):
  return rs

print (func_sum(a=1, b=2, c=3, d=4))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
def func_sum(*args, **kwargs):
  print ("args: ", args)
  print ("kwargs: ", kwargs)

func_sum('a','b','c', x=1, y=2, z=3)

args:  ('a', 'b', 'c')
kwargs:  {'x': 1, 'y': 2, 'z': 3}

In [ ]:
def func_sum(*args,**kwargs,a,b,c):
  return a,b,c,args,kwargs

func_sum(a,b,c,d,e,1,2,x=1,y=2)

SyntaxError: ignored

#**Wednesday, September 13, 2023**

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# list comprehension

lst_comp1 = [i for i in range(100)]
print(lst_comp1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
for i in range(100):
  if i%3 == 0:
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
# list comprehension

lst_comp2 = [i for i in range(100) if i%3==0]
print(lst_comp2)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
fruit_lst = ['apple','red apple','green apple','pineapple','pink apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
lst_comp = [i for i in fruit_lst if 'apple' in i]
print(lst_comp)

['apple', 'red apple', 'green apple', 'pineapple', 'pink apple']

In [ ]:
fruit_lst = ['apple','red apple','green apple','pineapple','pink apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
lst_comp = [i for i in fruit_lst if 'apple' not in i]
print(lst_comp)

['banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']

In [ ]:
fruits_lst = ['apple','banana','cherries','dates','eggfruit','fig','graphs']
for i in fruits_lst:
  if 'a' in i:
    print(i)

apple
banana
dates
graphs

In [ ]:
fruits_lst = ['apple','banana','cherries','dates','eggfruit','fig','graphs']
lst_comp3 = [i for i in fruits_lst if 'a' in i]
print(lst_comp3)

['apple', 'banana', 'dates', 'graphs']

In [ ]:
fruits_apple = ['apple','banana','custurd apple','cherries','pineapple','dates','green apple','eggfruit','red apple','fig','graphs']
lst_cmp4 = [i for i in fruits_apple if 'apple' in i]
print(lst_cmp4)

['apple', 'custurd apple', 'pineapple', 'green apple', 'red apple']

In [ ]:
fruits_apple = ['apple','banana','custurd apple','cherries','pineapple','dates','green apple','eggfruit','red apple','fig','graphs']
lst_cmp4 = [i for i in fruits_apple if 'apple' not in i]
print(lst_cmp4)

['banana', 'cherries', 'dates', 'eggfruit', 'fig', 'graphs']

In [ ]:
names = ['Ch', 'Dh', 'Eb', 'cb', 'Tb', 'Td']
lst_comp1 = [i for i in names if 'c' in i or 'C' in i]
print(lst_comp1)

['Ch', 'cb']

In [ ]:
names = ['Ch', 'Dh', 'Eb', 'cb', 'Tb', 'Td']
lst_comp1 = [i for i in names if i[0] =='c' or i[0] == 'C' in i]
print(lst_comp1)

['Ch', 'cb']

In [ ]:
names = ['Ch', 'Dh', 'Eb', 'cb', 'Tb', 'Td','xc','XC']
lst_comp =[i for i in names if 'c' in i.lower()]
print(lst_comp)

['Ch', 'cb', 'xc', 'XC']

In [ ]:
lst_matrix = [i for i in range(3)]
lst_matrix

[0, 1, 2]

In [ ]:
lst_matrix = [[i for i in range(3)] for j in range(3)] # for each value of j, 'i' will run that much times
lst_matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#divisible by 5 and 10.
lst1 = [i for i in range(101) if i%5==0 if i%10==0]
lst1

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#divisible by 5 and 10.
lst1 = [i for i in range(101) if i%5==0 and i%10==0]
lst1

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#divisible by 5 and 10 and 12.
lst1 = [i for i in range(101) if i%5==0 if i%10==0 if i%12==0]
lst1

[0, 60]

In [ ]:
ndim2array = [[10,20,30],
              [40,50,60],
              [70,80,90]]

lst1 = [[i[j] for i in ndim2array] for j in range(len(ndim2array[0]))]
lst1

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [ ]:
#Dictionary Comprehension

dictCompre = {i: f"Item{i}" for i in range(10)}
dictCompre

{0: 'Item0',
 1: 'Item1',
 2: 'Item2',
 3: 'Item3',
 4: 'Item4',
 5: 'Item5',
 6: 'Item6',
 7: 'Item7',
 8: 'Item8',
 9: 'Item9'}

In [ ]:
for i in range(10):
  print(i,': Item',+i)

0 : Item 0
1 : Item 1
2 : Item 2
3 : Item 3
4 : Item 4
5 : Item 5
6 : Item 6
7 : Item 7
8 : Item 8
9 : Item 9

In [ ]:
#Set Comprehension
set = {1,2,3,'a','a','#','&',1,1,1,99,900}
setCompre = {i for i in set}
setCompre

{'#', '&', 1, 2, 3, 900, 99, 'a'}