#**August 31, 2023**

In [12]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
!pip install pytorch

Collecting pytorch
  Downloading pytorch-1.0.2.tar.gz (689 bytes)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pytorch
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for pytorch (setup.py) ... error
  ERROR: Failed building wheel for pytorch
  Running setup.py clean for pytorch
Failed to build pytorch
ERROR: Could not build wheels for pytorch, which is required to install pyproject.toml-based projects

In [14]:
import pandas as pd

# https://pandas.pydata.org/

In [17]:
path = '/content/Churn_Modelling.csv'
df_ChurnModelling_csv = pd.read_csv(path)
df_ChurnModelling_csv

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [19]:
path_html = '/content/df_ChurnModelling_html.html'
ChurnModelling_html = pd.read_html(path_html)
ChurnModelling_html

ValueError: ignored

In [20]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 2.3 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [21]:
import xlwt

In [22]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

<ipython-input-22-b5068f926ef5>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

In [23]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xlsx.xlsx")

In [24]:
df_ChurnModelling_csv.to_html("df_ChurnModelling_html.html")

In [25]:
from sqlalchemy import create_engine

engine = create_engine('sqlite://', echo = False)

df_ChurnModelling_csv.to_sql("Customer_Churn",
    con = engine,
    if_exists = 'append'
)

10000

In [27]:
print(engine.execute("SELECT * FROM Customer_Churn").fetchall())

AttributeError: ignored

#**Components of Python Pandas**

    1. Series
    2. DataFrame

In [28]:
import pandas as pd

lst1 = [12,23,34,45,56,67,78,89,90,110]
sr1 = pd.Series(lst1)
sr1, len(sr1), sr1.count(), sr1.ndim, type(sr1), sr1.size, sr1.dtype, sr1.item, sr1.items, sr1.nbytes, sr1.shape

(0     12
 1     23
 2     34
 3     45
 4     56
 5     67
 6     78
 7     89
 8     90
 9    110
 dtype: int64,
 10,
 10,
 1,
 pandas.core.series.Series,
 10,
 dtype('int64'),
 <bound method IndexOpsMixin.item of 0     12
 1     23
 2     34
 3     45
 4     56
 5     67
 6     78
 7     89
 8     90
 9    110
 dtype: int64>,
 <bound method Series.items of 0     12
 1     23
 2     34
 3     45
 4     56
 5     67
 6     78
 7     89
 8     90
 9    110
 dtype: int64>,
 80,
 (10,))

In [32]:
#  School Management System: Design classes for School, Student, and Teacher.
# Students can enroll in courses, teachers can assign grades, and the school can generate reports.

class school:
  def __init__(self, name, location, email, phone1, phone2):
    pass

  def print_details:
    pass

class student(school):
  def __init__(self, ):
    pass

class teacher(school):
  def __init__(self, )

class result(student, teacher)

SyntaxError: ignored