#**August 15, 2023**

In [ ]:
# List In-Built Function

In [ ]:
a=[1,2,3,4,5]
dir(a) #

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#append adds value to the last value of the index
#only adds value at the last index of the list
a=[1,2,3,4,5,6]
print("Before append",a)
a.append(8)
print ("After append",a)

Before append [1, 2, 3, 4, 5, 6]
After append [1, 2, 3, 4, 5, 6, 8]

In [ ]:
#clear (removes all the elements of list)
#makes it empty

a=[1,2,3,4,5,6]
print("Before clear",a)
a.clear()
print("Afer clear",a) #length of list 'a' after clear is 0

Before clear [1, 2, 3, 4, 5, 6]
Afer clear []

In [ ]:
#copy
a_list=[1,2,3,4,5,6,7]
b_list=a_list
c_list=a_list.copy()

print("Before Operation Actual List",a_list)
print("Before Operation Equal to List",b_list)
print("Before Operation Copy List",c_list)
print("=============================")
#make a operation on a_list
a_list.append(8) #a will have value of 8 at the end of the list.
print("After Operation Actual List",a_list)
print("After Operation Equal to List",b_list)
print("After Operation Copy List",c_list)

Before Operation Actual List [1, 2, 3, 4, 5, 6, 7]
Before Operation Equal to List [1, 2, 3, 4, 5, 6, 7]
Before Operation Copy List [1, 2, 3, 4, 5, 6, 7]
=============================
After Operation Actual List [1, 2, 3, 4, 5, 6, 7, 8]
After Operation Equal to List [1, 2, 3, 4, 5, 6, 7, 8]
After Operation Copy List [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#count gives count of the value in the list / frequency
a_list=[1,2,3,4,5,6,7,8,6,4]
print(a_list.count(44)) #as 44 is not in the list, so it comes out as 0
print(a_list.count(6)) #there are TWO 6, so it gave 2

0
2

In [ ]:
#Extend function
a_list=[1,2,3,4,5,6,7]
a_list.append([8,9,10]) #it took list of 8,9,10 as one item
print("Append function ",a_list)
print("Append function len",len(a_list))

Append function  [1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
Append function len 8

In [ ]:
a_list=[1,2,3,4,5,6,7]
a_list.extend([8,9,10]) #extend added each value to the list and printed the length as 10.
print("Append function ",a_list)
print("Append function len",len(a_list))

Append function  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Append function len 10

In [ ]:
a_list=[1,2,3,4,5,6,7]
a_list.extend([8,9,10])
print("Append function ",a_list)
print("Append function len",len(a_list))

Append function  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Append function len 10

In [ ]:
#print 9 out of this

a_list=[1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list)
print(a_list[7])
print(a_list[7][1]) #prints 9 as it'll check[8,9,10] from a_list[7] and go to index 1(i.e., 9)

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[8, 9, 10]
9

In [ ]:
# Insert function takes in two values: index and object/value/number

a_list=[11,22,33,44,55,66,77,33]
a_list.insert(5,111) #it'll post value before 6 index
print(a_list)

[11, 22, 33, 44, 55, 111, 66, 77, 33]

In [ ]:
#It removes the value from the last of the list
#default value is last element in the list

a_list=[11,22,33,44,55,66,77,33]
print(a_list.pop())
print(a_list)

33
[11, 22, 33, 44, 55, 66, 77]

In [ ]:
#remove value and works like index fxn, It'll find the first value from left to right and remove and display.
a_list=[11,22,33,44,55,66,77,33]
a_list.remove(33)
print(a_list)

[11, 22, 44, 55, 66, 77, 33]

In [ ]:
#reverse

a_list=[11,22,33,44,55,66,77,33]
a_list.reverse()
print(a_list)

[33, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
# sort (it is used only to document in ascending or descending order)

a_list=[11,5,9,89,100,0]
a_list.sort()
print(a_list)

[0, 5, 9, 11, 89, 100]

In [ ]:
#Sort: default is asceding order #for descending order, need to give command as reverse.
#if there is string, it'll give an error (It doesn't work with string)
a_list=[11,5,9,89,100,0]
a_list.sort(reverse=True)
print(a_list)

[100, 89, 11, 9, 5, 0]

In [ ]:
#Tuple can't alter.
#It has count and index function.
#count: counts the no. times of the value occured and executes where the repetitive element is started/

b_tup=(1,2,3,4,2,4)
b_tup.count(4) #

2

In [ ]:
#Tuple Index

b_tup=(1,2,3,4,2,4)
b_tup.index (4)

3

#**August 16, 2023**

In [ ]:
a=[1,2,3,4,5,11,1,2,6,1,8]

#1st way with the values
#a_list=[1,2,3,4,5,11,1,2,6,1,8]
#for k in a_list:
 #   print(k)

#2nd way with index
for ind in range(len(a_list)): #for ind in range (0,11) starts index 0 and ends at end, here, 11 index
    print(ind)

1
2
3
4
5
11
1
2
6
1
8

In [ ]:
# Question 1) Remove all repeated elements from the list Given below using for loop.
a_list=[1,2,3,4,5,11,1,2,6,1,8]

unique_list=[]
for k in a_list:
  if k in unique_list:
    print("Repeated value :-", k)
  else:
    unique_list.append(k) #append adds in the lists
print(unique_list)

Repeated value :- 1
Repeated value :- 2
Repeated value :- 1
[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
#with sets
a_list=[1,2,3,4,5,11,1,2,6,1,8]
print(set(a_list))

{1, 2, 3, 4, 5, 6, 8, 11}

In [ ]:
# Question 2) Print all prime numbers below 100
#0 & 1 are not prime numbers, so it starts from 2
#divisible only by itself or 1

list_of_prime_numbers=[]
for k in range(2,100): #starts loop from 2 to 100
  flag=True            # for all values of k by default we set prime no. #flag is just a name, not a key
  for s in range(2,k): # this loop'll
    if k%s==0:
      flag=False
      break
  if flag:
    list_of_prime_numbers.append(k)

for primes in list_of_prime_numbers:
  print(primes,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
# Question 3) print list in reverse order using for loop

a=[1,2,3,4,5,6,7]
reverse_list=[]
for k in range(len(a)-1,-1,-1): # started from len of a is 7,stop till -1, steps -1
  reverse_list.append(a[k])
print(reverse_list)


#2nd option
#for i in range (1,len(a)+1):
#  print (a[-1])

#3rd option
#for i in a[::-1]:
#print(i)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Question 4)  print multiplication table of 13 using for loop

for i in range(1,11):
  print(str(i)+" X 13 is = ", i*13)

1 X 13 is =  13
2 X 13 is =  26
3 X 13 is =  39
4 X 13 is =  52
5 X 13 is =  65
6 X 13 is =  78
7 X 13 is =  91
8 X 13 is =  104
9 X 13 is =  117
10 X 13 is =  130

In [ ]:
# python program to count the total number of digits in a number
# e.g.; for no. 123, it has 3 digits in total



# method 1:
# n = (input("Enter a number: "))
# print(len(n))

#method 2:
count=0
a=input ("Enter any number: ")
for i in range(len(a)):
  count+=1
print(count)

Enter any number: 456789
6

In [ ]:
# Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
# HCF highest no. that divides both the no.

a=int(input("First Number"))
b=int(input("Second Number"))

smallest_number=min(a,b)

for k in range(smallest_number,-1,-1): #start,stop,step #starts with min 14, then stops at 0, -1 index
  if a%k==0 and b%k==0:
    print("The GCD is ", k)
    break

First Number32
Second Number14
The GCD is  2

#**August 17, 2023**

In [ ]:
#Question 1 ) Write a program in Python to display the Factorial of a number.

i=int(input("Enter a number: "))
factorial=1

for k in range(1,i+1): #
  print ("Value of factorial",factorial)
  print("Value of k", k)
  factorial=factorial*k #when factorial is 1, value of k is 2
if i==0:
  print("factorial of 0 is 1")
else:
  print(factorial)

Enter a number: 4
Value of factorial 1
Value of k 1
Value of factorial 1
Value of k 2
Value of factorial 2
Value of k 3
Value of factorial 6
Value of k 4
24

In [ ]:
# factorial of a number
num=int(input("Please enter a number "))
factorial=1

for k in range(1,num+1):
  factorial=factorial*k

print(factorial)

Please enter a number -5
1

In [ ]:
# WAP to separate positive and negative number from a list.

lst1=[1,5,-10,8,9,-4,-8,-3,0]
post_num=[]
nega_num=[]
for k in lst1:
  if k<0:
    nega_num.append(k)
  else:
    post_num.append(k)

print(post_num)
print(nega_num)

[1, 5, 8, 9, 0]
[-10, -4, -8, -3]

In [ ]:
num = float(input("Give a number: "))
if num > 0:
   print("It is a positive number")
elif num == 0:
   print("It is Zero")
else:
   print("It is a negative number")

Give a number: 9
It is a positive number

In [ ]:
# fibonnaci series is starts from 0,1 rest of the terms are sum of previous two terms

a = 0
b = 1
print(a, b, end=' ')
for i in range(10):
  c = a + b
  print(c, end=' ')
  a = b
  b = c

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
fibonacci_list=[0,1] #first and second terms are defined

number_of_terms=int(input("Number of terms: "))
while len(fibonacci_list)<number_of_terms: #used while because we don't know how many times we need to run the loop
  next_term=fibonacci_list[-1]+fibonacci_list[-2] #-1 gives last , -2 gives 2nd last term
  fibonacci_list.append(next_term)
print(fibonacci_list)

Number of terms: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#**August 18, 2023**

In [ ]:
# 1) Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
for i in range(1500,2701):
    if(i%7 == 0 and i%5 == 0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
# Write a Python program to count the number of even and odd numbers in a series of numbers
# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

a = 0

while a < 100:
  a+=1
  if a%2==0:
      print(a, 'is even number')
  else:
      print(a,'is odd number')

In [ ]:
# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
# Expected Output : 0 1 2 4 5
# like 2

for num in range(7):
  if num==3 or num==6:
    continue
  else:
    print(num)

0
1
2
4
5

#**August 21, 2023**

In [ ]:
# 1) Write a Python Function that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
# Sample Items : green-red-yellow-black-white
# Expected Result : black-green-red-white-yellow


def sort_the_string (words_str):
  words_list = words_str.split("-") #splits list by hyphen
  sorted_list=sorted(words_list)
  print("-".join (sorted_list))

sort_the_string("green-red-yellow-black-white")

black-green-red-white-yellow

In [ ]:
def sort_the_string (words_str):
  words_list = words_str.split("-") #splits list by hyphen
  sorted_list=sorted(words_list)
  str_out=""
  print("Sorted list ", sorted_list)
  for k in range(len(sorted_list)):
    if k==len(sorted_list)-1:
      str_out=str_out+k
    else:
    str_out=str_out+"-"+k
    print(k)
    print(str_out)


sort_the_string("green-red-yellow-black-white")

In [ ]:
# 2)  Write a function that accepts a string and count consonant and vowels in that string

def count_const_vowels(words):
  vowels_list=['a','e','i','o','u']
  count_vowls=0
  count_const=0

  for k in words:
    if k in vowels_list:
      count_vowls=count_vowls+1
    else:
      count_const=count_const+1
  print("Count of consonants", count_const)
  print("Count of Vowels", count_vowls)

count_const_vowels("blackgreenredwhiteyellow")

Count of consonants 16
Count of Vowels 8

In [ ]:
def count_const_vowels(words):
  vowels_list=['a','e','i','o','u']
  count_vowls=0
  count_const=0

  for k in words.lower():
    if k.isalpha():
      if k in vowels_list:
       count_vowls=count_vowls+1
      else:
       count_const=count_const+1
  print("Count of consonants", count_const)
  print("Count of Vowels", count_vowls)

count_const_vowels("black-green-red-white-yellow")

Count of consonants 16
Count of Vowels 8

In [ ]:
# Write a Python function to check whether a number is "Perfect" or not.
#According to Wikipedia : In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself).
# Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.


n=int(input("Enter any number: "))
sum1=0
for i in range(1,n):
  if(n%i==0): #trying to find out proper divisor
    sum1=sum1+i
if(sum1==n):
  print("The number is a Perfect number!")
else:
  print("The number is not a Perfect number!")

Enter any number: 18
The number is not a Perfect number!

#**August 22, 2023**

In [ ]:
# HW
#1) Write a program to print twin primes less than 1000.
# If two consecutive odd numbers are both prime then they are known as twin primes

#Solution:
#first part is we have to iterate till 1000
# 2nd part only check for odd numbers
# 3rd part, both the numbers should be prime

n=int(input("Enter the Max Range: "))

def check_prime_number(num):
  check_prime=True
  for i in range(2,num): # by default range(2,-1)
    if num%i==0:
      return False
  return True

def print_prime_pairs(n):
# We start from 3 which is first odd prime number and jump 2 places each for next odd number
  for k in range(3,n,2):
    if check_prime_number(k) and check_prime_number(k+2):
      print("Pair Prime Numbers",k,k+2)

print_prime_pairs(n)

Enter the Max Range: 1000
Pair Prime Numbers 3 5
Pair Prime Numbers 5 7
Pair Prime Numbers 11 13
Pair Prime Numbers 17 19
Pair Prime Numbers 29 31
Pair Prime Numbers 41 43
Pair Prime Numbers 59 61
Pair Prime Numbers 71 73
Pair Prime Numbers 101 103
Pair Prime Numbers 107 109
Pair Prime Numbers 137 139
Pair Prime Numbers 149 151
Pair Prime Numbers 179 181
Pair Prime Numbers 191 193
Pair Prime Numbers 197 199
Pair Prime Numbers 227 229
Pair Prime Numbers 239 241
Pair Prime Numbers 269 271
Pair Prime Numbers 281 283
Pair Prime Numbers 311 313
Pair Prime Numbers 347 349
Pair Prime Numbers 419 421
Pair Prime Numbers 431 433
Pair Prime Numbers 461 463
Pair Prime Numbers 521 523
Pair Prime Numbers 569 571
Pair Prime Numbers 599 601
Pair Prime Numbers 617 619
Pair Prime Numbers 641 643
Pair Prime Numbers 659 661
Pair Prime Numbers 809 811
Pair Prime Numbers 821 823
Pair Prime Numbers 827 829
Pair Prime Numbers 857 859
Pair Prime Numbers 881 883

In [ ]:
# 2) Write a program to find out the prime factorization of a number. Example: prime factorization  of 56 2 × 2 × 2 × 7

#Solution:
#first, we will divide the number until it becomes 1
#

n=int(input("Enter the number for prime factorization: "))

def prime_factors(num):
  factors=[]
  divisor=2
  while num>1:
    while num%divisor==0:
      num=num/divisor
      factors.append(str(divisor))
    divisor=divisor+1
  return factors

def show_prime_factorization(n):
  factors=prime_factors(n)
  return "x".join(factors)

show_prime_factorization(n)

Enter the number for prime factorization: 83

'83'

In [ ]:
# 3) Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.

#Solution: get all divisors of both numbers
# check if sum is equal to original number

x=int(input("Enter first number "))
y=int(input("Enter second number "))

def get_proper_divisors_sum(num):
  sum=0
  for k in range(1,num):
    if num%k==0:
      sum=sum+k
  return sum

def check_ambicale_numbers(x,y):
  if get_proper_divisors_sum(x)==y and get_proper_divisors_sum(y)==x:
    print("These are ambicale numbers",x,y)
  else:
    print("Not ambicale number")

check_ambicale_numbers(x,y)

Enter first number 1184
Enter second number 1210
These are ambicale numbers 1184 1210

In [ ]:
# 1) Swap first and last element of the list
# remove functions work on values which we might not know
# pop works at indexes more suitable
# clear removes everything from list which is not suggested

a=[1,2,5,10,'1']

def swap_elements(list_temp):
  first=list_temp.pop(0)
  last=list_temp.pop(-1)
  list_temp.insert(0,last)
  list_temp.append(first)

swap_elements(a.copy())
print(a)

['1', 2, 5, 10, 1]

In [ ]:
#"=" sign makes changes on both sides
#copy fxn will not change on the list, though the internal fxn values are changed in program

In [ ]:
# swap 1st and last element of list
a=[1,2,5,10,'1']

def swap_elements(list_temp):
  list_temp[0],list_temp[-1]=list_temp[-1],list_temp[0]
  return list_temp

swap_elements(a)

['1', 2, 5, 10, 1]