#**August 08, 2023**

#**Variables**

1. Valid variable:
  - anything starting with a-z, A-Z and underscore (_)
  - anything in between alphabets are valid
  
2. Invalid Variable
  - anything starting with numbers, special characters

In [ ]:
#valid varibales and invalid variables
name='Reshma' #valid
#12gender='F' #invalid
#@address='4144 76th St' #invalid
_fname='Reshma' #valid
gend12der='F' #valid
print(name, _fname, gen12der)
last@name='Sarker' #invalid

SyntaxError: ignored

#**August 09, 2023**

#**Python Data Type**

      1. Standard Data Type
        1. Numbers
          1. Integer
          2. Float
          3. Complex
        2. Boolean
        3. String
      2. Data Structure Data Type
        1. List
        2. Tuple
        3. Set
        4. Dictionary

In [ ]:
# Integer : Any whole number (+ve or -ve) is called as integer
int1=1947
print (int1)
print (type(int1))

int1 = -1947
print(int1)
print(type(int1))

1947
<class 'int'>
-1947
<class 'int'>

In [ ]:
# Float : Any combination of whole number and fractional number (+ve or -ve) is called as float.

flt1 = 3.1415
print(flt1)
print(type(flt1))

flt1 = -3.1415
print(flt1)
print(type(flt1))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [ ]:
# Complex : Combination of integer or float and imagenary number (+ve or -ve) integer or float is called as compex

cmplx1 = 2 + 3j
print(cmplx1)
print(type(cmplx1))

cmplx1 = -2 - 3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>
(-2-3j)
<class 'complex'>

In [ ]:
# Boolean : True and False

bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# String
# any combination inside single quotes
# any combination inside double quotes
# any combination inside triple single quotes
# any combination inside triple doublr quotes


str1 = 'Python Programming'
print(str1)
print(type(str1))

str1 = "Python Programming"
print(str1)
print(type(str1))

str1 = '''Python Programming'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str1 = '!@#$%^&*()'
print(str1)
print(type(str1))

str1 = "QW#%$&*(*))_+YIINK:"
print(str1)
print(type(str1))

str1 = '''Lion Tiger'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

!@#$%^&*()
<class 'str'>
QW#%$&*(*))_+YIINK:
<class 'str'>
Lion Tiger
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str1='''I am a 'student.' I am from "New York."'''
print (str1)

str1 = """My name is "Reshma Sarker". I live in 'New York'."""
print(str1)
print(type(str1))

I am a 'student.' I am from "New York."
My name is "Reshma Sarker". I live in 'New York'.
<class 'str'>

In [ ]:
# List
# 1. List is represented by square bracket []
# 2. List is mutable



lst1 = [12,23,34,45,56,67,78,89,90]
print(lst1)
print(type(lst1))

[12, 23, 34, 45, 56, 67, 78, 89, 90]
<class 'list'>

In [ ]:
# Tuple
# 1. Tuple is represented by circular bracket ()
# 2. Tuple is immutable



tup1 = (1,2,3,4,5,6,7,8,9)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
# Set
# 1. Set is combination of unique values
# 2. Set is collection of unordered element
# 3. Set is represented by curly brackets
# 4. Set is mutable

set1 = {'a','b','c','D','E','F',1,2,3,'!','@','#','a','b','c','D','E','F',1,2,3,'!','@','#',}
print(set1)
print(type(set1))

{1, 2, 3, 'F', 'D', '#', '@', 'a', 'b', '!', 'E', 'c'}
<class 'set'>

In [ ]:
set1 = {True, False, 'a','b','c','D','E','F',0,1,2,3,'!','@','#', 'True','False'}
print(set1)
print(type(set1))

{False, True, 2, 3, 'False', 'F', 'D', '#', '@', 'True', 'a', 'b', '!', 'E', 'c'}
<class 'set'>

In [ ]:
dict1= {'a':'apple',
       'b':'banana',
       'c':'cherries'}
print (dict1)
print (type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherries'}
<class 'dict'>

In [ ]:
list1=[1,-3.14,'a+2b','NY','(2a)','$']
print (list1)

tup1=(1,-3.14,'a+2b','NY','(2a)','$',)
print (tup1)

set1={1,-3.14,'a+2b','NY','(2a)','$',True,False,0,1,3,}
print (set1)

set1={True, False,'a','b','c','D','E','F',1,2,3,'!','@','#','True','False'}
print (set1)

[1, -3.14, 'a+2b', 'NY', '(2a)', '$']
(1, -3.14, 'a+2b', 'NY', '(2a)', '$')
{False, 1, 3, 'a+2b', '(2a)', 'NY', '$', -3.14}
{False, True, 2, 3, 'False', 'F', 'D', '#', '@', 'True', 'a', 'b', '!', 'E', 'c'}

In [ ]:
str1 = 'Reshma Sarker'
print (str1)
print (type(str1))
print (len (str1))

Reshma Sarker
<class 'str'>
13

In [ ]:
print (str1[0])
print (str1[1])
print (str1[2])
print (str1[3])
print (str1[4])
print (str1[5])
print (str1[6])
print (str1[7])
print (str1[8])
print (str1[9])
print (str1[10])
print (str1[11])
print (str1[12])

R
e
s
h
m
a

S
a
r
k
e
r

In [ ]:
#positive indexing & positive slicing
str1 = 'Reshma Sarker'
str1[0:6:1],str1[7:13:1]

('Reshma', 'Sarker')

In [ ]:
str1='SrinivasaRamanujanAiyangar'

In [ ]:
str1[::]

'SrinivasaRamanujanAiyangar'

In [ ]:
str1[0::]

'SrinivasaRamanujanAiyangar'

In [ ]:
str1[:len(str1):]

'SrinivasaRamanujanAiyangar'

In [ ]:
str1[::1]

'SrinivasaRamanujanAiyangar'

In [ ]:
str1[:9:]

'Srinivasa'

In [ ]:
str1[9:18:]

'Ramanujan'

In [ ]:
str1[18::]

'Aiyangar'

In [ ]:
str='Best Quality'
str[:4:2], str[5:9:1]

('Bs', 'Qual')

In [ ]:
str='Best Quality'
print (str[:4:2])
print (str[5:9:1])

Bs
Qual

In [ ]:
dict1={'fruits':'apple, orange','animals':'dog,cat'}
print (dict1)
print (type (dict1))

{'fruits': 'apple, orange', 'animals': 'dog,cat'}
<class 'dict'>