In [ ]:
set1 =  {'a','b','c','D','E','F',1,2,3,'!','@','#'}
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# add: add element to the set

set1 =  {'a','b','c','D','E','F',1,2,3,'!','@','#'}
set1.add('Hello')
print(set1)

{1, 'c', 3, 2, 'D', 'Hello', 'E', 'a', 'b', 'F', '@', '#', '!'}

In [ ]:
# clear: removes elements from the set

set1 =  {'a','b','c','D','E','F',1,2,3,'!','@','#'}
set1.clear()
print("After clearing the set: ", set1)

After clearing the set:  set()

In [ ]:
#  copy: copies the original set

set1 =  {'a','b','c','D','E','F',1,2,3,'!','@','#'}
set2 = set1.copy()
print("Before copy: ", set1)
print("After copy: ", set2)

Before copy:  {1, 'c', 3, 2, 'D', 'E', 'a', 'b', 'F', '@', '#', '!'}
After copy:  {1, 'c', 3, 2, 'D', 'E', 'a', 'b', 'F', '@', '#', '!'}

In [ ]:
#  difference: skip the repetitive elements from given no. of sets and executes the difference value

color = {"red", "Blue", "white", "black", "pink", "GREEN"}
loved_color = {"RED", "white", "black", "beige"}
print("Colors that I don't like: ", color.difference(loved_color))

Colors that I don't like:  {'pink', 'GREEN', 'Blue', 'red'}

In [ ]:
# difference_update:  updates the set

color = {"red", "Blue", "white", "black", "pink"}
loved_color = {"white", "black", "beige","green"}
color.difference_update(loved_color)

print('I have colors: ',color)
print('I love colors: ',loved_color)

I have colors:  {'pink', 'Blue', 'red'}
I love colors:  {'green', 'black', 'beige', 'white'}

In [ ]:
# discard: removes a specific element from the set

set1 =  {'a','b','c','D','E','F',1,2,3,'!','@','#'}
set1.discard('!')
print("New set values after discard: ", set1)

New set values after discard:  {1, 'c', 3, 2, 'D', 'E', 'a', 'b', 'F', '@', '#'}

In [ ]:
#  intersection: returns a new set with the elements that are common in the given sets.

set1={'a','b','c','D','E','F',1,2,3,'!','@','#'}
set2={'A','e','c',3,9,'!'}

print("Common elements in the set: ", set1.intersection(set2))
print("Set value after copy: ",set1.intersection())

Common elements in the set:  {'c', 3, '!'}
Set value after copy:  {1, 'c', 3, 2, 'D', 'E', 'a', 'b', 'F', '@', '#', '!'}

In [ ]:
#  intersection_update: updates the set with common value
color = {"red", "Blue", "white", "black", "pink"}
loved_color = {"white", "black", "beige","green"}
color.intersection_update(loved_color)

print("Set is updated with common values: ", color)

Set is updated with common values:  {'black', 'white'}

In [ ]:
 #isdisjoint: returns true if the given sets have no common elements.

set1={'a','b','c','D','E','F',1,2,3,'!','@','#'}
set2={'A','e','c',9,1,'a'}
set3={0,'X'}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

False
True

In [ ]:
#  issubset: returns true if the set (on which the issubset() is called) contains every element of the other set passed as an argument.

set1={'a','b','c','D','E','F',0,1,2,3,'!','@','#','X'}
set2={'A','e','c',9,1,'a'}
set3={0,'X','@'}

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

In [ ]:
#  issuperset: returns True if all items in the specified set exists in the original set

set1={'a','b','c','D','E','F',0,1,2,3,'!','@','#','X'}
set2={'A','e','c',9,1,'a'}
set3={0,'X','@'}

print(set1.issuperset(set2))
print(set1.issuperset(set3))

False
True

In [ ]:
#  pop: removes a random item from the set

set1={'a','b','c','D','E','F',0,1,2,3,'!','@','#','X'}

print("Updated set after pop: ",set1)

Updated set after pop:  {0, 1, 'c', 2, 3, 'D', 'E', 'a', 'b', 'F', 'X', '@', '#', '!'}

In [ ]:
#  remove: removes the specified element from the set

set1={'a','b','c','D','E','F',0,1,2,3,'!','@','#','X'}
set1.remove (2)

print("After removal: ", set1)

After removal:  {0, 1, 'c', 3, 'D', 'E', 'a', 'b', 'F', 'X', '@', '#', '!'}

In [ ]:
# symmetric_difference: returns a new set with the distinct elements found in both the sets.

color = {"red", "Blue", "white", "black", "pink"}
loved_color = {"white", "black", "beige","green"}

print ("Distinct color: ", color.symmetric_difference(loved_color))

Distinct color:  {'Blue', 'red', 'green', 'beige', 'pink'}

In [ ]:
#  symmetric_difference_update: updates the set on which the instersection_update() method called, with the elements that are common among the specified sets.

color = {"red", "Blue", "white", "black", "pink"}
loved_color = {"white", "black", "beige","green"}
color2 = {"white", "black"}
color.intersection_update(loved_color,color2)

print("Common values after symmetric difference update: ", color)

Common values after symmetric difference update:  {'black', 'white'}

In [ ]:
#  union: returns a new set with distinct elements from all the given sets

color = {"red", "Blue", "white", "black", "pink"}
loved_color = {"white", "black", "beige","green"}
color2 = {"white", "black"}

c = color.union(loved_color, color2)

print("The union set values are: ", c)

The union set values are:  {'Blue', 'red', 'green', 'black', 'beige', 'pink', 'white'}

In [ ]:
#  update: updates the set by adding distinct elements from the passed one or more iterables

set1={'a','b','c','D','E','F',0,1,2,3,'!','@','#','X'}
set2={'A','e','c',9,1,'a'}
set3={'z',5}

set1.update(set2, set3)

print("Set values after update: ", set1)

Set values after update:  {0, 1, 2, 3, 5, 'D', 'e', 'E', 9, 'a', 'b', 'z', '#', 'c', 'A', 'F', 'X', '@', '!'}