In [ ]:
# 1) Swap two numbers using 3rd variable

n1 = input ("Input first number: ")
n2 = input ("Input second number: ")
#temp stores values temporarily
temp = n1
n1 = n2
n2 = temp

print ("After swap, first number is ",n1)
print ("After swap, second number is ",n2)

Input first number: 6
Input second number: 9
After swap, first number is  9
After swap, second number is  6

In [ ]:
# 2) Swap two numbers without using 3rd variable

n1 = input ("Input first number: ")
n2 = input ("Input second number: ")

n1,n2 = n2,n1

print ("After swap, first number is ",n1)
print ("After swap, second number is ",n2)

Input first number: 1
Input second number: 5
After swap, first number is  5
After swap, second number is  1

In [ ]:
# 3) Remove duplicate elements from a list without converting to tuple

list = [1,2,2,3,6,8,8,8,10,21,22,9,9,9,9,9,9]
temp = []

for i in list:
  if i not in temp:
    temp.append(i)
  else:
    continue

list = temp

print ("After removing duplicates: ", list)

After removing duplicates:  [1, 2, 3, 6, 8, 10, 21, 22, 9]

In [ ]:
# 3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

a=int(input("First Number: "))
b=int(input("Second Number: "))

smallest_number=min(a,b)

for k in range(smallest_number,-1,-1): #start,stop,step #starts with given min no.1, then stops at 0, -1 index
  if a%k==0 and b%k==0:
    print("The GCD is ", k)
    break

First Number: 75
Second Number: 4
The GCD is  1

In [ ]:
# 4) Write a loop to print following series
 # 10, 20, 30,  …………………, 300

for i in range(10, 301, 10):
  print (i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [ ]:
# 5) Write a loop to print following series
# 105,98,91,………………………,7

for i in range(105, 0, -7):
  if i>=7:
    print(i, end= ", ")
  else:
    print (i)

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

In [ ]:
# 6) Write a program to print number names of digits in a number like
# SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

n = input("Give a number: ")

dict = {'0':'ZERO','1':'ONE','2':'TWO','3': 'THREE', '4': 'FOUR','5': 'FIVE', '6':'SIX','7':'SEVEN','8':'EIGHT','9':'NINE'}

x = " "

for i in n:
  x+= dict[i] + " "
print(x)

Give a number: 1036
 ONE ZERO THREE SIX

In [ ]:
# 7) Write a program to print Fibonacci series till n terms take n =50

fib_list=[0,1]
n_terms=int(input("Number of terms: "))

while len(fib_list)<n_terms:
  next_term=fib_list[-1]+fib_list[-2]
  fib_list.append(next_term)

print(fib_list)

Number of terms: 50
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [ ]:
# 8) Write a program to print factorial of a number

n = int(input("Enter a number "))
factor=1

for k in range(1,n+1):
  factor=factor*k

print(factor)

Enter a number 5
120

In [ ]:
# 9) Write a program to check if a number is Armstrong or not
# Armstrong number is the sum of its own digits raised to the power number of digits that gives the number itself.

n = int(input("Please enter n-digit number: "))

digit = len(str(n))

sum = 0
temp = n

while temp > 0:
  num = temp % 10
  sum += num ** digit
  temp = temp//10


if n == sum:
  print(n, "is an Armstrong number.")
else:
  print(n, "is not an Armstrong number.")

Please enter n-digit number: 121212121
121212121 is not an Armstrong number.

In [ ]:
# 10) Write a program to convert binary to decimal

binary=input("Enter a binary number: ")

decimal=int(binary, 2)

print("The decimal of ", binary, "is", decimal,".")

Enter a binary number: 1111
The decimal of  1111 is 15 .

In [ ]:
# 11) Write a program to convert decimal to binary

decimal=int(input("Enter a decimal number: "))

binary = " " #Initialization of empty string to store binary representation of decimal

while decimal > 0:
  remainder = decimal % 2
  binary = str(remainder) + binary
  decimal = decimal // 2

print("The binary of ", decimal, "is", binary,".")

Enter a decimal number: 15
The binary of  0 is 1111  .

In [ ]:
# 12) Write a program to check if number is palindrome on not (Without converting to string)

num = int(input("Enter a number: "))

def pal(num):
  rev_num = 0 # to store reversed number
  n2 = num

  while num > 0:
    n3 = num % 10
    num = num // 10
    rev_num = (10 * rev_num) + n3

  if rev_num == n2:
    return True
  else:
    return False

if pal(num):
  print(num, "is a palindrome.")
else:
  print(num, "is not a palindrome.")

Enter a number: 5545455
5545455 is a palindrome.

In [ ]:
# 13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

for n in range (100,501):
  if n % 13 == 0 and n % 3 !=0:
    print(n)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [ ]:
# 14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

# Celsius = (Fahrenheit – 32) * 5/9
# Fahrenheit = (Celsius * 9/5) + 32

def c_to_f (celsius):
  return (celsius * 9/5) + 32

def f_to_c (fahrenheit):
  return (fahrenheit - 32) * 5/9

while True:
  print("Choose an option:")
  print("1. Convert Celsius to Fahrenheit")
  print("2. Convert Fahrenheit to Celsius")
  print("3. Exit")

  temper = input("Enter your selection: 1) , 2) or 3) : ")

  if temper == '1':
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = c_to_f(celsius)
    print(celsius,"*C is converted to ",fahrenheit,"*F.")
  elif temper == '2':
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = f_to_c(fahrenheit)
    print(fahrenheit,"*F is converted to ",celsius,"*C.")
  elif temper == '3':
    break
  else:
    print("Invalid option. Please select 1, 2, or 3.")

Choose an option:
1. Convert Celsius to Fahrenheit
2. Convert Fahrenheit to Celsius
3. Exit
Enter your selection: 1) , 2) or 3) : 1
Enter temperature in Celsius: 0
0.0 *C is converted to  32.0 *F.
Choose an option:
1. Convert Celsius to Fahrenheit
2. Convert Fahrenheit to Celsius
3. Exit
Enter your selection: 1) , 2) or 3) : 2
Enter temperature in Fahrenheit: 32
32.0 *F is converted to  0.0 *C.
Choose an option:
1. Convert Celsius to Fahrenheit
2. Convert Fahrenheit to Celsius
3. Exit
Enter your selection: 1) , 2) or 3) : 3

In [ ]:
# 15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

row = int(input("Enter no. of rows: "))
column = int(input("Enter no. of columns: "))

for i in range(row):
  temp = []
  for j in range(column):
    temp.append(i*j)
  print(temp)

Enter no. of rows: 3
Enter no. of columns: 4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]

In [ ]:
# 16. Write a Python program that accepts a string and calculates the number of digits and letters.
#Sample Data: Python 3.2
#Expected Output:
##Letters 6
#Digits 2

str1=input("Enter any string values: ")
a=0
b=0

for i in str1:
  if(i.isdigit()):
    a=a+1
  else:
    b=b+1

print("It has ",a, "number of digits.")
print("It has ",b, "number of letters.")

Enter any string values: Python 3.2
It has  2 number of digits.
It has  8 number of letters.

In [14]:
# 17) Print all possible combination for a string or a word

# Sample input “ABC”
# Sample output
# BAC
# CAB
# CBA
# ACB
# BCA

str1 = input("Enter string or a word: ")

def combine(str1, current=""):
    if len(str1) == 0:
        print(current)
    else:
        for i in range(len(str1)):
            remaining_chars = str1[:i] + str1[i + 1:]
            combine(remaining_chars, current + str1[i])

combine(str1)

Enter string or a word: abc
abc
acb
bac
bca
cab
cba

In [17]:
# 18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


# Note :
# An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.

x = float(input("Enter the length of side x: "))
y = float(input("Enter the length of side y: "))
z = float(input("Enter the length of side z: "))


if x == y == z:
    print("Equilateral triangle")
elif x == y or y == z or x == z:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter the length of side x: 2
Enter the length of side y: 3
Enter the length of side z: 4
Scalene triangle

In [7]:
#  19) Write a Python program to get the next day of a given date.
# Expected Output:
# Input a year: 2016
# Input a month [1-12]: 08
# Input a day [1-31]: 23
# The next date is [yyyy-mm-dd] 2016-8-24

year = int(input("Enter a year (YYY): "))

if (year % 4 == 0):
    leap_year = True
elif (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
else:
    leap_year = False

month = int(input("Enter a month [MM]: "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_len = 29
    else:
        month_len = 28
else:
    month_len = 30


day = int(input("Input a day [DD]: "))

if day < month_len:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Enter a year (YYY): 1986
Enter a month [MM]: 06
Input a day [DD]: 21
The next date is [yyyy-mm-dd] 1986-6-22.